.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
}

@media screen and (max-width: 740px) {
    .footer__copyright{
        display: flex;
        position: unset;
        margin-top: 35px;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright{
        line-height: 14px;
        margin-top: 48px;
    }
}