.lead__image{
    width: 984px;
    height: 615px;
    display: block;
    margin: 64px auto 8px auto;
}

 @media screen and (max-width: 1024px) {
    .lead__image{
        width: 928px;
        height: 580px;
        margin: 56px auto 8px auto;
    }
 }

 @media screen and (max-width: 768px) {
    .lead__image{
        width: 100%;
        height: 480px;
        margin: 56px auto 8px auto;
    }
 }

 @media screen and (max-width: 320px) {
    .lead__image{
        width: 100%;
        height: 200px;
        margin: 40px auto 8px auto;
    }
}