.intro__text-container{
    max-width: 928px;
    margin-top: 40px;
    margin-bottom: 0;
    display: flex;
}

@media screen and (max-width: 768px) {
    .intro__text-container {
        width: 100%;
    }
}
