.footer{
    margin: 92px auto 24px;
    position: relative;
    width: 92.5%;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1024px) {
    .footer {
        width: 90.625%;
        margin: 92px auto 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        width: 93.75%;
        margin: 88px auto 24px;
    }
}

@media screen and (max-width: 730px) {
    .footer {
        width: 75.2%;
        flex-direction: column;
        margin-top: 43px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 58.125%;
        margin: 64px 118px 24px 16px;
    }
}