.place__url {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    opacity: 1;
    transition: opacity .2s linear;
}

.place__url:hover{
    opacity: 0.8;
}